@import 'base/reset';
@import 'base/mixin';
@import 'base/variables';
@import 'base/fonts';

.header-img{
    height: 100%;
    min-height: 48.8vw;
    background: {
        image: url('images/header-background.png');
        repeat: no-repeat;
        size: 100%;
    }
}

.nav{
    padding: 4% 17%;
    h3{
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: bold;
            size: 1.2vw;
        }
    }
    p{
        margin-left: 63%;
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: normal;
            size: 1vw;
        }
    }
    button{
        background-color: transparent;
        min-width: 9.25%;
        height: 100%;
        min-height: 2.34vw;
        border: 2px solid #fff;
        border-radius: 40px;
        margin-top: -1%;
        margin-left: 2%;
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: normal;
            size: 1vw;
        }
    }
}

.content{
    width: 100%;
    margin: auto 0;
    h1{
        width: 32%;
        height: 18%;
        margin: 7% auto;
        margin-bottom: 0;
        font: {
            size: 3.12vw;
            family: $font-Montserrat;
            style: normal;
            weight: bold;
        }
        text-align: center;
    }
    p{
        width: 27.5%;
        height: 3.5%;
        margin: 2% auto;
        margin-bottom: 0;
        text-align: center;
        font: {
            size: 2.5vw;
            family: Roboto;
            style: normal;
            weight: 300;
            size: 1.5vw;

            color: #F7F3F2;
        }
    }
    button{
        display: block;
        width: 15.625%;
        height: 100%;
        min-height: 2.6vw;
        background-color: #FF4E50;
        border: 0;
        border-radius: 40px;
        margin: 3% auto;
        font: {
            size: 0.9vw;
            family: $font-Montserrat;
            style: normal;
            weight: bold;
        }
        text-align: center;
    }
}

main{
    padding: 0 17.5%;
}

.how-works{
    width: $content-width;
    margin: 7% auto;
    h3{
        text-align: center;
        width: 100%;
        font: {
            family: $font-Montserrat;
            size: 1.7vw;
            style: normal;
            weight: bold;
        }
    }
    &__step-1{
        width: 32%;
        height: 100%;
        margin-top: 4%;
        margin-right: 5%;
        background: {
            image: url('images/Step\ 1\ image.png');
            repeat: no-repeat;
            size: 100%;
        }
        padding-top: 24%;
        &__button-step-1{
            width: 23%;
            height: 100%;
            min-height: 1.3vw;
            margin-left: 8.3%;
            background-color: #FF4E50;
            border-radius: 40px;
            padding-top: 2%;
            padding-left: 6.5%;

            font: {
                family: $font-Montserrat;
                style: normal;
                weight: normal;
                size: 0.65vw;
                text-align: center;
            }
        }
        h4{
            width: 83%;
            height: 14.5%;
            margin: 4% 8.3%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: bold;
                size: 1.56vw;
            }
        }
        p{
            width: 83%;
            height: 14.5%;
            margin: 5% 8.3%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: normal;
                size: 0.9vw;
            }
        }
    }
    &__step-2{
        width: 32%;
        height:100%;
        margin-top: 4%;
        margin-right: 5%;
        background: {
            image: url('images/Step\ 2\ image.png');
            repeat: no-repeat;
            size: 100%;
        }
        padding-top: 27%;
        &__button-step-2{
            width: 23%;
            height: 100%;
            min-height: 1.3vw;
            margin-left: 8.3%;
            background-color: #FF4E50;
            border-radius: 40px;
            padding-top: 2%;
            padding-left: 6.5%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: normal;
                size: 0.65vw;
                text-align: center;
            }
        }
        h4{
            width: 83%;
            height: 14.5%;
            margin: 4% 8.3%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: bold;
                size: 1.56vw;
            }
        }
        p{
            width: 83%;
            height: 14.5%;
            margin: 5% 8.3%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: normal;
                size: 0.9vw;
            }
        }
    }
    &__step-3{
        width: 32%;
        height: 100%;
        margin-top: 4%;
        margin-right: 0px;
        background: {
            image: url('images/Step\ 3\ image.png');
            repeat: no-repeat;
            size: 100%;
        }
        padding-top: 24%;
        &__button-step-1{
            width: 23%;
            height: 100%;
            min-height: 1.3vw;
            margin-left: 8.3%;
            background-color: #FF4E50;
            border-radius: 40px;
            padding-top: 2%;
            padding-left: 6.5%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: normal;
                size: 0.65vw;
                text-align: center;
            }
        }
        h4{
            width: 83%;
            height: 14.5%;
            margin: 4% 8.3%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: bold;
                size: 1.56vw;
            }
        }
        p{
            width: 83%;
            height: 14.5%;
            margin: 5% 8.3%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: normal;
                size: 0.9vw;
            }
        }
    }
}

.meet-partner{
    width: $content-width;
    margin: 7% auto;
    margin-bottom: 0;
    padding: 0 2%;
    h3{
        text-align: center;
        width: 100%;
        font: {
            family: $font-Montserrat;
            size: 1.7vw;
            style: normal;
            weight: bold;
        }
    }
    .d-flex{
        justify-content: space-around;
    }
    &__person1{
        width: 12%;
        height: 100%;
        min-height: 7.2vw;
        margin-top: 2%;
        background: {
            image: url('images/Avatar.png');
            repeat: no-repeat;
            size: 100%;
        }
    }
    &__person2{
        width: 12%;
        height: 100%;
        min-height: 7.2vw;
        margin-top: 2%;
        background: {
            image: url('images/Avatar\ \(1\).png');
            repeat: no-repeat;
            size: 100%;
        }
    }
    &__person3{
        width: 12%;
        height: 100%;
        min-height: 7.2vw;
        margin-top: 2%;
        background: {
            image: url('images/Avatar\ \(2\).png');
            repeat: no-repeat;
            size: 100%;
        }
    }
    &__person4{
        width: 12%;
        height: 100%;
        min-height: 7.2vw;
        margin-top: 2%;
        background: {
            image: url('images/Avatar\ \(3\).png');
            repeat: no-repeat;
            size: 100%;
        }
    }
    h6{
        width: 15%;
        height: 100%;
        min-height: 1.17vw;
        margin-top: 1%;
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: bold;
            size: 0.9vw;
        }
        line-height: 17px;
        text-align: center;
    }
    p{
        width: 15%;
        height: 57px;
        margin-top: 1%;
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: 300;
            size: 0.9vw;
        }
        line-height: 1.1vw;
        text-align: center;
    }
    &__button-text{
        width: 19%;
        height: 100%;
        min-height: 2.6vw;
        background-color: transparent;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        margin: 10% 40.5%;
        margin-bottom: 0;
        color: #FF4E50;
        font: {
            family: Montserrat;
            style: normal;
            weight: bold;
            size: 0.9vw;
        }
        color: #FF4E50;
        @media screen and (max-width: 1379px){
            &{
                height: 30px;
            }
        }
        @media screen and (max-width: 1128px){
            &{
                height: 25px;
            }
        }
        @media screen and (max-width: 1008px){
            &{
                height: 20px;
            }
        }
    }
}

.discovery{
    width: $content-width;
    margin: 9% auto;
    h3{
        text-align: center;
        width: 100%;
        font: {
            family: $font-Montserrat;
            size: 1.7vw;
            style: normal;
            weight: bold;
        }
    }
    .d-flex{
        justify-content: space-around;
    }
    .img{
        width: 32%;
        height: 100%;
        min-height: 20.1vw;
        margin-top: 2%;
        background: {
            repeat: no-repeat;
            size: 100%;
        }
    }
    .sport{
        background-image: url('images/Sport.png');
    }
    .health{
        background-image: url('images/Healath.png');
    }
    .extreme{
        background-image: url('images/Extreme.png');
    }
    .games{
        background-image: url('images/Games.png');
    }
    .culture{
        width: 65%;
        height: 100%;
        min-height: 20.1vw;
        margin-top: 2%;
        background: {
            image: url('images/Culture.png');
            repeat: no-repeat;
            size: 100%;
        }
    }
    .enjoyment{
        width: 65%;
        height: 100%;
        min-height: 20.1vw;
        margin-top: 2%;
        background: {
            image: url('images/Culture\ Copy.png');
            repeat: no-repeat;
            size: 100%;
        }
    }
    .travelling{
        background-image: url('images/Games\ Copy.png');
    }
}

.create-activity{
    width: $content-width;
    margin: 9% auto;
    h3{
        text-align: center;
        width: 100%;
        font: {
            family: $font-Montserrat;
            size: 1.7vw;
            style: normal;
            weight: bold;
        }
    }
    p{
        width: 44%;
        height: 100%;
        min-height: 1.56vw;
        margin: 6% auto;
        margin-bottom: 0%;
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: 300;
            size: 1.17vw;
        }
        text-align: center;

        color: #666666;
    }
    input[type="text"]{
        display: inline-block;
        width: 31%;
        height: 100%;
        min-height: 2.6vw;
        margin-top: 2%;
        margin-left: 25%;
        font: {  
            family: $font-Montserrat;
            style: normal;
            weight: 300;
            size: 0.9vw;
        }
        color: #999999;
    }
    input[type="button"]{
        width: 18.3%;
        height: 100%;
        min-height: 2.6vw;
        background-color: #FF4E50;
        color: white;
        border: 0;
        border-radius: 40px;
        margin: 2% 1%;
        margin-bottom: 0%;
        font: {
            size: 0.9vw;
            family: $font-Montserrat;
            style: normal;
            weight: bold;
        }
        text-align: center;
    }

}

footer{
    padding: 0 17.5%;
    .logo{
        width: 12.6%;
        height: 100%;
        min-height: 1.3vw;
        margin-top: 1.5%;
        margin-right: 12%;
        margin-left: 3%;
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: normal;
            size: 1vw;
        }
        color: #FF4E50;
    }
    h6{
        width: 7%;
        height: 100%;
        min-height: 1.1vw;
        margin-top: 1.5%;
        font: {
            family: $font-Montserrat;
            style: normal;
            weight: bold;
            size: 0.9vw;
        }
    }
    .d-block{
        max-height: 1.1vw;
        margin-right: 15%;
        h6{
            width: 100%;
            height: 100%;
            min-height: 1.1vw;
            margin-top: 12%;
            margin-bottom: 12%;
            font: {
                family: $font-Montserrat;
                style: normal;
                weight: bold;
                size: 0.9vw;
            }
        }
        p{
            font: {           
                family: $font-Montserrat;
                style: normal;
                weight: 300;
                size: 0.9vw;
            }
            line-height: 1.7vw;
            color: #999999;
        }
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 25%;
    }
    .design-by{
        margin-top: 20%;
        font: {
            family: Montserrat;
            style: normal;
            weight: bold;
            size: 0.65vw;
        }
        letter-spacing: 1px;

        color: #CCCCCC;
    }
    .footer-img{
        width: 100%;
        height: 100%;
        min-height: 1.56vw;
        margin-top: 5%;
        background: {
            image: url('images/Bitmap.png');
            repeat: no-repeat;
            size: 100%;
        }
    }
}


